{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    "inline-react-svg"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-react-remove-prop-types",
        ["react-remove-properties", { "properties": ["data-cy"] }]
      ]
    }
  }
}
